<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">グループ作成</h1>
        <%= form_for @group do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          
          <%= f.submit '作成', class: 'btn btn-black btn-block' %>
        
        <% end %>
      </div>
    </div>
  </div>
</div>